<script setup lang="ts">
</script>

<template>
    <section>
        <h2>Saehrimnir</h2>
        <h3>Legal</h3>
        <p>
            All the nutrient data is sourced from the 
            <a href='https://www.canada.ca/en/health-canada/services/food-nutrition/healthy-eating/nutrient'>Canadian Nutrient File, Health Canada, 2015</a>
            . The Saehrimnir application is not an offical version of the marterials. The Saehrimnir application had no part in the creation of the 
            <a href='https://www.canada.ca/en/health-canada/services/food-nutrition/healthy-eating/nutrient'>Canadian Nutrient File, Health Canada, 2015</a>
            . The Seahrimnir application is in no way in affiliation with, nor has the endorsement of, Health Canada.
        </p>
        <p>
            Both Saehrimnir and the 
            <a href='https://www.canada.ca/en/health-canada/services/food-nutrition/healthy-eating/nutrient'>Canadian Nutrient File, Health Canada, 2015</a>
            are intended as reference tools only, and are not medical advice.
        </p>           
    </section>
</template>

<style scoped>
</style>

