<script setup lang="ts">
</script>

<template>
    <section>
        <nav>
            <a href=''>Home</a>
            <a href=''>Recipies</a>
            <a href=''>Nutrition</a>
            <a href=''>Gitlab</a>
        </nav>
    </section>
</template>

<style scoped>
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
    }

    a {
        padding: 1rem;
        border: 2px solid #cccccc;
        text-decoration: none;
        color: #cccccc
    }
</style>
