<script setup lang="ts">
</script>

<template>
    <section>
        <h1>Saehrimnir</h1>
        <div>Open Cookbook</div>
        <div>Open Nutrition Tracker</div>
        <div>Backup Data</div>
        <div>Load Data</div>
    </section>
</template>

<style scoped>
</style>
