<script setup lang="ts">
    import HeaderComponent from '@/components/HeaderComponent.vue';
    import HomeComponent from '@/components/HomeComponent.vue';
    import AboutComponent from '@/components/AboutComponent.vue';
    import FooterComponent from '@/components/FooterComponent.vue';
</script>

<template>
  <header>
      <HeaderComponent />
  </header>
  <main>
      <HomeComponent />
  </main>
  <footer>
      <FooterComponent />
  </footer>
</template>

<style scoped>
</style>

